<h1>Условия труда</h1>
<table>
  <tr>
    <th>ФИО</th>
    <th>Должность</th>
    <th>Время назначения</th>
    <th>Время окончания</th>
  </tr>
  <%= render @employment_terms%>
</table>
<%= link_to 'new employment_term', new_employment_term_path %> <br>
<%= link_to 'users', users_path %><br>
<%= link_to 'positions', positions_path %><br>
<%= link_to 'position_histories', position_histories_path %>
