<h1> Должности</h1>
<table>
  <tr>
    <th>№</th>
    <th>Должность</th>
    <th>Действие</th>
  </tr>
  <%= render @positions%>
</table>
<%= button_to'new position', new_position_path %><br>
<br>
<%= link_to 'users', users_path %><br>
<%= link_to 'position_histories', position_index_position_history_path(1) %><br>
<%= link_to 'employment_terms', employment_terms_path %>
