<h1> Должности</h1>
<table>
  <tr>
    <th>№id</th>
    <th>position_id</th>
    <th>Должность</th>
    <th>время открытия</th>
    <th>время закрытия</th>
  </tr>
  <%@position_histories.each do |f|%>
  <tr>
    <td><%= f.id%></td>
    <td><%= f.position_id%></td>
    <td><%= f.name%></td>
    <td><%= f.begin_date%></td>
    <td><%= f.end_date%></td>
  </tr>
  <%end%>
</table>
<%= link_to 'users', users_path %><br>
<%= link_to 'position', positions_path %><br>
<%= link_to 'employment_terms', employment_terms_path %>
