<tr>
  <td><%= position_history.id%></td>
  <td><%= position_history.position_id%></td>
  <td><%= position_history.name%></td>
  <td><%= position_history.begin_date%></td>
  <td><%= position_history.end_date%></td>
</tr>
